tallerxml/A10/RA4 Activitat4.Guillem/RA4 Activitat9. Material/facturacio.dtd

<!ELEMENT facturacio (empresa, factura+)>

<!ELEMENT empresa (raosocial)>

<!ATTLIST raosocial tipus CDATA #REQUIRED>
<!ELEMENT raosocial (nom, ( (cognom+, adreca, codipostal, poblacio, DNI, NIF?, domiciliat*) | (adreca, codipostal, poblacio, (CIF | (NIF, domiciliat*)) ) ))>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT adreca (#PCDATA)>
<!ELEMENT codipostal (#PCDATA)>
<!ELEMENT poblacio (#PCDATA)>
<!ELEMENT CIF (#PCDATA)>
<!ELEMENT DNI (#PCDATA)>
<!ELEMENT NIF (#PCDATA)>
<!ELEMENT domiciliat EMPTY>

<!ATTLIST factura numero CDATA #REQUIRED>
<!ELEMENT factura (client, linies, data, subtotal, iva, total, rebuts?)>
<!ELEMENT client (raosocial)>
<!ELEMENT linies (producte+)>

<!ATTLIST producte codi CDATA #REQUIRED>
<!ELEMENT producte (descripcio, quantitat, preuunitari)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT quantitat (#PCDATA)>
<!ELEMENT preuunitari (#PCDATA)>

<!ELEMENT data (#PCDATA)>
<!ELEMENT subtotal (#PCDATA)>
<!ELEMENT iva (#PCDATA)>
<!ELEMENT total (#PCDATA)>
<!ELEMENT rebuts (rebut+)>

<!ATTLIST rebut numero CDATA #REQUIRED>
<!ELEMENT rebut (data, totalrebut)>
<!ELEMENT totalrebut (#PCDATA)>